name: Node.js CI
on: [push, pull_request]

jobs:
  build:

    # https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md
    runs-on: macos-12

    strategy:
      matrix:
        xcode-version: ["13.4.1", "14.2"]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        cache: 'npm'
    - name: Select Xcode ${{ matrix.xcode-version }}
      run: sudo xcode-select --switch /Applications/Xcode_${{ matrix.xcode-version }}.app
    - run: rm -rf UICatalog/build UIKitCatalog/build
    - run: npm install
